<head>
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="answers-row">
            <div class="answer-box">
                <h2>LLAMA Reply:</h2>
                <div class="response-content">{{llama_response}}</div>
            </div>
            
            <div class="answer-box">
                <h2>DeepSeek Reply:</h2>
                <div class="response-content">{{deepseek_response}}</div>
            </div>
        </div>
        
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>